:root {
  --primary-color: #4cb69f;
  --base-color: #00303F;
  --grey-color:#58677c;
}

h1, h2, h3, h4, h5, p {
  color: #00303F;
}

h1 {
  font-size: 3.5rem;  
}

h2 {
  font-size: 3rem;
}

a.accent-text:hover {
  color: var(--base-color);
}

.hamburger .bar1, .bar2, .bar3 {
  border-radius: 25%;
  width: 35px;
  height: 5px;
  background-color: var(--base-color);
  margin: 6px 0;
  transition: 0.4s;
  opacity: 1;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.open .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


.accent-text {
  color: var(--primary-color);
}

nav {
  background-color: var(--primary-color);
}

.nav-item {
  text-transform: uppercase;
  font-weight: 700;
}

nav > a {
  color: white !important;
}
nav > a:hover {
  color: white !important;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  text-decoration: none;
}

.timeline-container {
  position: relative;
}

.badge {
  padding: .45em .6em;
  margin-top: 5px;
}

.badge-info {
  background-color: var(--primary-color)
}

.padded {
  padding-left: 2rem;
}

section {
  min-height: 85vh;
  display: flex;
  align-items: center;
}

.timeline-item {
  position:relative;
}

.fa-circle {
  transition: all 0.2s;
}

.fa-stack:hover .fa-circle {
  transform: scale(1.1);
}

section div {
  width: 100%;
}

.timeline::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 5px;
  height: 100%;
  background: var(--primary-color);
  left: 6px;
  top: 4px;
}

.timeline-item::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -2.1rem;
  top: 3px;
  width: 1.2rem;
  height: 1.2rem;
  border: 4px solid var(--grey-color);
  background: white;
  border-radius: 50%;
}

.tools {
  max-width: 800px;
}

.tools div {
  color: var(--grey-color);
  transition: all 0.2s;
  width: 100px;
}

.tools div:hover {
  color: var(--primary-color);
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}