@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

/* BODY/GENERAL */
body, .maincontent{
	background-color: #178383;
}

/* Get the main content to appear underneath the nav bar*/
.maincontent {
	margin-top:100px;
}

.visitor, .me {
	clear: both;
	display: block;
	padding:		20px;
	margin:			10px;
	border-radius: 	30px;
	max-width:		60%;

}

.me {
	background-color: #c5e2e2;
	float:left;
}

.visitor {
	background-color: #fbe6d5;
	float:right;
}

/* NAV BAR */
nav > .container {
	color:				white;
}

nav > .container > div{
	display: 			flex;
	flex-direction: 	row;
	justify-content: 	left;
	align-items: 		center;
}

#logo {
	margin: 	5px;
	height: 	auto;
	width: 		42px;
}

.navbar {
	background-color: #178383;
}

hr {
	width: 				50%;
	height: 			1px;
	margin: 			0px;
	background-color:	#178383;
	background-image: 	-webkit-gradient(linear, left top, right top, from(#51A6A6), to(#178383));
    background-image: 	-webkit-linear-gradient(left, #51A6A6, #178383);
    background-image: 	-moz-linear-gradient(left, #51A6A6, #178383);
    background-image: 	-ms-linear-gradient(left, #51A6A6, #178383);
    background-image: 	-o-linear-gradient(left, #51A6A6, #178383);
    color: 				transparent;
	border:				none;
}

/* TEXT */
h1, h2, h3, p{ 
	font-family: 'Josefin Sans', sans-serif;
}	

h1 {
	margin-top: 20px;
	margin-bottom:0px;
}

h3 {
	margin: 2px;
	margin-left:5px;
}

/* COLORS TO USE*/
/*  Colors selected from paletton */
.color-primary-0 { color: #178383 }	/* Main Primary color */
.color-primary-1 { color: #51A6A6 }
.color-primary-2 { color: #2F8D8D }
.color-primary-3 { color: #0A6969 }
.color-primary-4 { color: #005252 }

.color-complement-0 { color: #DB7826 }	/* Main Complement color */
.color-complement-1 { color: #FFB87D }
.color-complement-2 { color: #EB964F }
.color-complement-3 { color: #AF5911 }
.color-complement-4 { color: #893E00 }